{% extends 'layout.html' %}
{% block main%}
<ol class="breadcrumb">
    <li><a href="/admin">管理首页</a></li>
    <li><span>分类编辑</span></li>
</ol>
<form class="form-horizontal" method="post">
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-1 control-label">新分类名称</label>
        <div class="col-sm-11">
            <input type="text" class="form-control" name="name" id="inputEmail3" value="{{category.name}}">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-11">
            <button type="submit" class="btn btn-default">修改</button>
        </div>
    </div>
</form>

{% endblock %}