{% extends 'layout.html' %}
{% block content%}
<main class="col-md-8 main-content">
    {% for content in contents%}
    <article id=98 class="post">
        <div class="post-head">
            <h1 class="post-title"><a href="http://www.ghostchina.com/moving-to-node-js-v4-lts/">{{content.title}}</a></h1>
            <div class="post-meta">
                <span class="author">作者：<a href="">{{content.user.username}}</a></span> &bull;
                <span class="time">时间：<time class="post-date" datetime="2016年7月26日星期二上午9点54分" title="{{content.addTime|date('Y-m-d H:i:s',-8*60)}}">{{content.addTime|date('Y-m-d',-8*60)}}</time></span> &bull;
                <span class="views">阅读：<a href="">{{content.views}}</a></span> &bull;
                <span class="views">评论：<a href="">{{content.views}}</a></span>
            </div>
        </div>
        <div class="post-content">
            <p>{{content.description}}</p>
        </div>
        <div class="post-permalink">
            <a href="/views?contentid={{content.id}}" class="btn btn-default">阅读全文</a>
        </div>

        <footer class="post-footer clearfix">
            <div class="pull-left tag-list">
                <i class="fa fa-folder-open-o"></i>
            </div>
            <div class="pull-right share">
            </div>
        </footer>
    </article>
    {%endfor%}
    <nav class="pagination" role="navigation">
        {% if page<=1%}
        {%else%}
        <a class="newer-posts" href="/?category={{category}}&page={{page-1}}"><i class="fa fa-angle-left"></i></a>
        {%endif%}
        <span class="page-number">第 {{page}} 页 &frasl; 共 {{pages}} 页</span>
        {%if page>=pages%}

        {%else%}
        <a class="older-posts" href="/?category={{category}}&page={{page+1}}"><i  class="fa fa-angle-right"></i></a>
        {%endif%}
    </nav>
</main>
{% endblock %}
